@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url('./assets/images/pexels-aleksandar-pasaric-1694000.jpg');
}

a {
  text-decoration: none;
  color: #fff;
}

.router-link-active.router-link-exact-active {
  color: #FFD523;
}